<%- include('./layout/nav.ejs') %>
 <div class="container form-group">
    <form action="/message" method="post" class="col-md-6 offset-3 mt-4 card card-body">
        <h3>Add Message</h3>
        <input type="text" name="msg" placeholder="Type Message..." class="form-control">
        <button type="submit" class="form-control">Send</button>
    </form>
 </div>
</body>
</html>